.modal-body {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

button {
    display: block;
}

select {
    width: auto;
    display: block;
    font-size: 14px;
    font-style: italic;
}

h4{
    font-size: 18px;
    font-style: italic;
    color:rgb(75, 73, 73);
}

#form-survey{
    color:rgb(75, 73, 73);
    font-style: italic;
}

h3{
    color:rgb(75, 73, 73);
    font-style: italic;
}